<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Flask Website</title>
        {% else %}
        <title>Welcome to Flask Website 1.0!</title>
        {% endif %}
    </head>
    <body>
        <div>Flask Website: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('blog') }}">Blog</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('resume') }}">Resume</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>